/* nav-styling */
.nav-colour_1 {
    color:#2F2B99;
    font-size: 34px;
 
   
}
.nav-colour_2{
    color: #FD6E0A;
    font-size: 34px;
}
/* nav-title-styling */
.nav-title {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    height: 187px;
    margin: 0 auto;
    align-items: center;
    padding: 0 40px;
}
/* button-styling (sign-up)*/
.btn-primary {
    background-color: #4E47FF;
    color: #fff;
    padding: 18px 35px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border:none;
}
/* banner-section */
.banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 905px;
    height: 237px; */
}
.banner-content
{
    font-size: 35px;
    font-weight:700;
    color: #4f46e5;
    text-align: center;
    align-items: center;
}
.text-colour{
    color: black;
}

.banner-button {
    background-color: #4f46e5;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: none;
    transition: background 0.3s ease;
    display: block;
    margin: 0 auto; 
    width: fit-content; 
}

.banner-button:hover {
    background-color: orange;
}

.header{
    background-image: url('../Assets/Hero-bg.png');
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.hero-section {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 158px;
}

.hero-section h2 {
  font-size: 65px;
}
.secondaary-bg {
  background-color: rgba(78, 71, 255, 0.1);
}
.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: bold;

  font-weight: 700;
  font-style: bold;
}

.navbar {
  margin: auto;
  margin-bottom: 158px;
  width: 1140px;
  height: 151px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-primary {
  width: 132px;
  height: 48px;
  font-size: 16px;
  /* padding: 5px 10px 5px 10px; */
  background-color: #4e47ff;
  color: white;
  border-radius: 10px;
  /* height: 24px;
  width: 60px; */
  border: none;
}

.navbar h2 {
  color: #4e47ff;
  font-size: 34px;
  width: 99px;
  height: 51px;
}

#focus-btn {
  width: 174px;
  height: 48px;
}

header {
  background-image: url("./Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.maintext h2 {
  font-size: 42px;
}

.maintext p {
  font-size: 24px;
  color: #2524327a;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: bold;

  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 120px auto;
}
#launchbtn {
  width: 229px;
  height: 48px;
}
.main_image_div img {
  border-radius: 48px;
}

body {
  background-color: #f5f8ff;
}

.productivesection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: auto;
  height: 250px;
  background-color: #E5E7FF;;
border-radius: 24px;
padding: 50px 80px;
}

.productiveusers{
  font-size:30px ;
}


.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 158px;
}
.stat div{
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}

.stat div h2{
  font-size: 50px;
  color: #4E47FF;
  margin: 0px;
}

.stat div p{
  font-size: 20px;
  color: #0000007a;
}
.stattext{
font-size:20px ;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
.secondaary-bg {
  background-color: rgba(78, 71, 255, 0.1);
  margin-left: 100px;
  margin-right: 100px;

}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bolder;
}
/* card-styling */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.card {
  background-color: #fff;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
/* stars-styling */

.star-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.star-icon img {
  width: 24px;
  transition: transform 0.6s ease;
}

.star-icon img:hover {
  transform: rotate(360deg) scale(1.2);
  filter: brightness(0.5) sepia(1) hue-rotate(90deg) saturate(5); /* makes it dark green */
  cursor: pointer;
}



.title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px;
  text-align: left;
}

.subtitle {
  color: #555;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: left;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviewer-info {
  font-size: 14px;
}

.reviewer-info span {
  display: block;
}

.date {
  color: #888;
  font-size: 12px;
  text-align: left;
}
/* shared style */
.secondaary-bg {
  background-color: rgba(78, 71, 255, 0.1);
}

.btn-primary {
  background-color: #4E47FF;
  font-weight: bold;
  font-size: 14px;
  color: white;
  padding: 12px 36px;
  border-radius: 8px;
  /* border-color: slategrey; */
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
  background-color: orange;
  transform: scale(1.05);
}
/* section-2 */
.section-2 {
  padding: 137px 90px;
  display: flex;
  gap: 100px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  align-items: center;

}

.section-colum {
  width: 50%;


}



.label-text {
  text-align: left;
  padding-bottom: 10 px;
  font-weight: bold;


}




section input[type="text"],
section input[type="email"],
section textarea {
  height: 64px;
  padding: 10px 60px;
  border-radius: 5px;
  background-color: aliceblue;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  border: none;
  text-align: left;
}




.section-title-2 {
  font-size: 70px;
  color: blue;
  text-align: left
}

.btn-primary-2 {
  height: 64px;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: aliceblue;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  border: none;
  background-color: #4E47FF;
  transition: background-color 0.3s ease, transform 0.2s ease;

}

.btn-primary-2:hover {
  background-color: #eeff00;
  transform: scale(1.05);
}
.section-2 {
  padding: 137px 90px;
  display: flex;
  gap: 100px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  align-items: center;

}

.section-colum {
  width: 50%;


}



.label-text {
  text-align: left;
  padding-bottom: 10 px;
  font-weight: bold;


}




section input[type="text"],
section input[type="email"],
section textarea {
  height: 64px;
  padding: 10px 60px;
  border-radius: 5px;
  background-color: aliceblue;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  border: none;
  text-align: left;
}




.section-title-2 {
  font-size: 70px;
  color: black;
  text-align: left
}

.btn-primary-2 {
  height: 64px;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: aliceblue;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  border: none;
  background-color: #4E47FF;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: thistle;
  font-weight: bolder;

}

.btn-primary-2:hover {
  background-color: orange;
  transform: scale(1.05);
}

/* footer2 */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

footer {
  background-color: #ffffff;
  /* Dark gray */
  color: #000000;
  text-align: center;
  padding: 40px 20px;
}

footer h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

footer p.subtitle {
  margin: 10px 0 20px;
  font-size: 14px;
  color: #000000;
  /* Light gray */
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-links {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
  gap: 50px;
}

.footer-links a:hover {
  color: #38bdf8;
  /* Light blue on hover */
}

.footer-h2 {
  font-size: 80px;
}

.footer-subtitle {
  text-align: center;
  font-size: 20px;
  color: #8987A1;
}
.colour{
  color: #4E47FF;
}
